{
  "type": "service_account",
  "project_id": "research-proj-000000",
  "private_key_id": "tydhf6753g37hghf%^%6b597007dfs56",
  "private_key": "-----BEGIN PRIVATE KEY-----\\n-----END PRIVATE KEY-----\n",
  "client_email": "research@research-00000.iam.gserviceaccount.com",
  "client_id": "000000000000000000000",
  "auth_uri": "",
  "token_uri": "",
  "auth_provider_x509_cert_url": "",
  "client_x509_cert_url": "",
  "universe_domain": "googleapis.com"
}
